tags
*.swp
*.swo
*.swn
.bundle
db/*.sqlite3
log/*.log
log/*.pid
tmp/
*.backup
*.backup.gz
my_super_secret_ruby_debug_initializer.rb
abc_shop_staging-latest.backup
abc_shop_staging-latest.backup.gz
config/database.yml
config/s3.yml
config/dps.yml
config/rms-ftp.lftp.conf
config/rms.public.cer
config/dps.yml
config/giftvouchers.yml
config/evoucher.yml
config/aprimo.yml
.rspec
vendor/bundle
.DS_Store
.~lock*
public/assets
.com.apple*
*.tmproj
db/sphinx
config/*.sphinx.conf
config/vii.yml
config/evoucher.yml
config/giftvouchers.yml
config/dvd_feed.yml
config/resque.yml
config/sphinx.yml
dump.rdb
exports/*
reports/*
config/initializers/ruby-debug.rb
config/newrelic.yml
sitemaps
google_product_feeds
public/abcshop/javascripts/abcshop.js
public/abcshop/javascripts/modernizr-min.js
public/abcshop/javascripts/shop-*
public/abcshop/javascripts/jplayer-min.js
public/javascripts/jquery-admin-plugins.js
public/stylesheets/admin/admin-all.css
public/funnelback.html
public/funnelback.generating.html
public/javascripts/abcshop.js
public/javascripts/modernizr-min.js
public/*/stylesheets/*
public/*/stylesheets/**
public/*/stylesheets/**/.*
en-abcshop_wordlist*
.idea/
*.sublime-*
